$text-light: #69707D;
$text-dark: #1D2026;
$orange: #FF7E1B;

* {
    box-sizing: border-box;
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    max-width: 1110px;
    margin: 0 auto;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1.5em;
    border-bottom: 1px solid #E4E9F2;
    width: 100%;
}

h1 {
    color: $text-dark;
    font-size: 2.75rem;
    line-height: 48px;
    margin-top: 0.6em;
    margin-bottom: 0.7em;
}

h1, h4 {
    font-weight: 700;
}

h4 {
    color: $orange;
    font-size: 0.8125rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

p {
    color: $text-light;
    font-weight: 400;
    line-height: 26px;
}

.menu-item,
.cart-btn,
.avatar,
.counter img,
button {
    cursor: pointer;
}

.cart-btn {
    margin-right: 1.375em;
    color: $text-light;
}

.cart-btn:hover, .cart-btn.open {
    filter: brightness(0) saturate(100%) invert(4%) sepia(4%) saturate(6675%) hue-rotate(182deg) brightness(101%) contrast(82%);
}

.cart-btn-container {
    position: relative;
    margin-left: auto;
}

.avatar {
    width: 24px;
}

.avatar:hover {
    outline: 3px solid $orange;
    border-radius: 50%;
}


.menu-item p{
    color: $text-dark;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 26px;
}

.close-menu-btn {
    margin-bottom: 2em;
}

.overlay {
    background-color: black;
    opacity: 0.75;
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.price {
    color: $text-dark;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0;
}

.discount {
    border-radius: 6px;
    background: #FFEEE2;
    color: $orange;
    padding: 0.25em 0.5em;
    font-weight: 700;
    margin-left: 1em;
    margin-right: auto;
}

.old-price {
    color: #B6BCC8;
    font-weight: 700;
    line-height: 26px;
    text-decoration-line: line-through;
    margin-top: 0.625em;
    display: inline-block;
}


button {
    border-radius: 10px;
    background: $orange;
    box-shadow: 0px 20px 50px -20px $orange;
    border: none;
    color: white;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 700;
    padding: 1.125em;
    text-align: center;
}


button:hover {
    background-color: #FFAB6A;
}

button img {
    margin-right: 1em;
    height: 1rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(103deg) brightness(100%) contrast(114%);
}

.add-to-cart-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.add-to-cart-btn,
.counter {
    flex-grow: 1;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: #F6F8FD;
    padding: 1.125em 1em;

    h3 {
        margin: 0;
        font-size: 1rem;
    }

    img {
        user-drag: none;  
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    img:hover {
        opacity: 0.7;
    }
}

.cart-item-count {
    position: absolute;
    top: -6px;
    left: 9px;
    background-color: $orange;
    color: white;
    font-weight: 700;
    font-size: 0.625rem;
    border-radius: 0.65em;
    width: 1.9em;
    height: 1.3em;
    text-align: center;
}

.product-page-container {
    width: 100vw;
    padding: 0;
}

.product-details {
    padding: 1.5em;
}

.img-large {
    width: 100%;
    display: block;
}

footer {
    font-size: 0.6rem;
}

@media (max-width: 974px) {
    main {
        padding: 0 2em;
    }

    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100vh;
        width: 250px;
        background-color: white;
        padding: 1.56em;
        z-index: 2;
    }

    .hidden {
        display: none;
    }

    .thumbnail {
        display: none;
    }

    .img-large {
        height: 80vw;
        object-fit: cover;
    }

    .price-info-container {
        display: flex;
        align-items: center;
    }

    .old-price {
        align-self: flex-end;
    }

    .product-details {
        max-width: 650px;
        margin: auto;
    }

}

@media (min-width: 975px) {
    html {
        padding: 0 2em;
    }
    header {
        height: 112px;
        // margin-top: 1.625em;
        padding-left: 0;
        padding-right: 0;
    }

    header .overlay {
        display: none;
    }

    .menu-container, 
    .menu-item,
    .product-page-container {
        display: flex;
    }

    .menu-container {
        gap: 2em;
        height: 111px;
        align-items: center;
    }
    .close-menu-btn,
    .menu-btn {
        display: none;
    }

    .menu-item {
        align-items: center;
        border-bottom: 4px solid transparent;
        height: 100%;
        p {
            color: $text-light;
            font-size: 0.9375rem;
            font-weight: 400;
            
        }
    }
    
    .menu-item:hover{
        border-color: $orange;
        p {
            color: $text-dark;
        }
    }

    
    .main-logo {
        margin-right: 3.5em;
    }
    
    .cart-btn {
        margin-right: 2.875em;
    }

    .avatar {
        width: 50px;
    }

    .product-page-container {
        padding: 1.5em 48px;
        // gap: 125px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .product-details, .product-images {
        flex-grow: 1;
        max-width: 445px;
    }

    .product-details {
        margin-left: 1.5em;
    }

    .product-images {
        margin-right: 1.5em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;
    }

    .img-large {
        width: 100%;
        border-radius: 15px;
        grid-column: 1/-1;
    }

    .thumbnail img {
        width: 100%;
        display: block;
    }

    .thumbnail:hover {
        opacity: 0.5;
    }

    .thumbnail.selected:hover {
        opacity: 1;
    }

    .thumbnail img, .thumbnail.selected {
        border-radius: 10px;
    }

    .thumbnail.selected {
        outline: 2px solid $orange;
        img {
            opacity: 0.4;
        }
    }

    .add-to-cart-container {
        flex-direction: row;
    }

    .add-to-cart-btn {
        flex-grow: 2;
    }

    .old-price {
        display: block;
    }
}